* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
}

.navbar {
    background-color: rgb(232, 232, 240);
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
}

.navbar-center {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    font-size: 1.2rem;
}

.burger {
    cursor: pointer;
}

.title {
    text-transform: uppercase;
    font-size: 1.6rem;
    cursor: default;
}
.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: -8px;
    right: -8px;
    font-size: 1.3rem;
    background: rgba(169, 190, 76, 0.685);
    padding: 0 2.5px;
    color: rgba(30, 63, 102, 0.746);
    border-radius: 30%;
}

/* end of navbar*/

.hero {
    min-height: calc(100vh - 60px);
    background: url("./assets/images/hero.jpg") center/cover
    no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner {
    text-align: center;
    background: rgba(231, 219, 204, 0.746);
    display: inline-block;
    padding: 2rem;
    border-radius: 5px;
}

.banner-title {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: normal;
    margin-bottom: 2rem;
    cursor: default;
}

.banner-btn {
    padding: 1rem 2.5rem;
    letter-spacing: normal;
    font-size: 1.3rem;
    background-color: rgb(155, 155, 155);
    color: black;
    cursor: pointer;
    transition: 0.2s linear;
    border: 1px solid rgba(19, 77, 19, 0.918);
    border-radius: 5px;
}

.banner-btn:hover {
    background: transparent;
}


/* end of hero & banner */

.products {
    padding: 4rem 0;
  }

  .section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: initial;
  }

  .products-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
  }

  .img-container {
    position: relative;
    overflow: hidden;
  }

  .bag-btn {
    position: absolute;
    top: 70%;
    right: 0;
    background: rgba(150, 235, 147, 0.919);
    border: none;
    text-transform: uppercase;
    padding: 0.5rem 0.75rem;
    letter-spacing: initial;
    font-weight: bold;
    transition: 0.3s linear;
    transform: translateX(101%);
    cursor: pointer;
  }
  
  .fa-shopping-cart {
    margin-right: 0.5rem;
  }

  .img-container:hover .bag-btn {
    transform: translateX(0);
  }

  .product-img {
    display: block;
    width: 100%;
    min-height: 12rem;
    transition: 0.3s linear;
  }

  .img-container:hover .product-img {
    opacity: 0.5;
  }
  
  .product h3 {
    text-transform: capitalize;
    font-size: 1.1rem;
    margin-top: 1rem;
    letter-spacing:initial;
    text-align: center;
  }
  
  .product h4 {
    margin-top: 0.7rem;
    letter-spacing:initial;
    text-align: center;
    color: rgb(54, 161, 54);
  }
  
  /* end of products */

  .cart-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: 0.3s linear;
    background: rgba(100, 96, 92, 0.836);
    z-index: 2;
    visibility: hidden;
  }

  .cart {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    z-index: 13;
    background: rgb(231, 226, 221);
    padding: 1.5rem;
    transition: 0.3s linear;
    transform: translateX(100%);
  }

  .showCart {
    transform: translateX(0);
  }

  .transparentBcg {
    visibility: visible;
  }
  
  @media screen and (min-width: 768px) {
    .cart {
      width: 30vw;
      min-width: 450px;
    }
  }
  
  .close-cart {
    font-size: 1.7rem;
    cursor: pointer;
  }

  .cart h2 {
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 2rem;
  }

  /* Cart Item */

  .cart-item {
    display: grid;
    align-items: center;
    grid-template-columns:auto 1fr auto;
    grid-column-gap: 0.5rem;
    margin: 2.5rem;
  }

  .cart-item img {
    width: 75px;
    height: 75px;
  }

  .cart-item h4 {
    font-size: 0.85rem;
    text-transform: capitalize;
  }

  .cart-item h5 {
    margin: 0.5rem 0;
  }
  .item-amount {
    text-align: center;
  }

  .remove-item {
    color: grey;
    cursor: pointer;
  }

  /* End of Cart Item  */
  
  .cart-footer {
    margin-top: 2rem;
    text-align: center;
  }

  .cart-footer h3 {
    text-transform: capitalize;
    margin-bottom: 1rem;
  }
  
  /*  End of Cart  */